<h1 class="fade-in">New Releases</h1>

<body class="fade-in">

    <section>
        <div class="grid-view three-column">
            <!-- // Look at how clean this is since you're doing the slice in the TS file :)-->
            <div *ngFor="let album of albumsToConsider" class="content-option">
                <h3>{{album.name}}</h3>
                <img [src]="album.images[0]?.url" alt="{{album.name}} album image" width="250" height="250" class="bordered-image">
            </div>
        </div>
    </section>
    
</body>


